<div>
  <%= comment.body %>
  <small>by <%= comment.user.name %></small>
  <% if policy(comment).edit? %>
    <%= link_to 'edit this comment', edit_topic_post_comment_path(comment.post.topic, comment.post, comment) %>
  <% end %>
</div>

<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
  <% end %>

  <div class="media-body">
    <small>
     <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
     <% if policy(comment).destroy? %> 
        <%= link_to "Delete", comment_url_helper(comment), method: :delete, remote: true %>
     <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
  
<% end %>